html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    font-family: 'Open Sans', sans-serif;
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  input:focus, textarea:focus, select:focus{
    border: none;
  }

  body {
    background-color: #edf2f4;
    display: grid;
  }

  #header-container {
    padding: 16px;
    display: grid;
    justify-items: center;
    color: white;
    background-color: #ef233c;
  }

  #header-logo {
    font-size: 4rem;
    font-weight: 700;
    justify-self: center;
  }

  #game-container {
    display: grid;
    margin: auto;
    grid-template-columns: min-content min-content;
    justify-items: center;
  }

  #game-stats-container {
    background-color: #ef233c;
    color: white;
    font-weight: 700;
    margin: 16px;
    text-align: center;
    padding: 16px;
    gap: 16px;
    display: grid;
    font-size: 1.5rem;
    justify-self: end;
  }

  #game-status {
    text-align: center;
  }

  #game-board-container {
    margin: auto;
    padding: 16px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    justify-self: start;
  }

  .game-square {
    color: #474350;
    font-size: 4rem;
    font-weight: 900;
    display: grid;
    align-items: center;
    text-align: center;
    align-self: stretch;
    border: 2px solid #ef233c;
  }

  #game-square-0 {
    border-top: 0px solid #ef233c;
    border-left: 0px solid #ef233c;
  }

  #game-square-1 {
    border-top: 0px solid #ef233c;
  }

  #game-square-2 {
    border-top: 0px solid #ef233c;
    border-right: 0px solid #ef233c;
  } 
  
  #game-square-3 {
    border-left: 0px solid #ef233c;
  }

  #game-square-5 {
    border-right: 0px solid #ef233c;
  }

  #game-square-6 {
    border-bottom: 0px solid #ef233c;
    border-left: 0px solid #ef233c;
  }

  #game-square-7 {
    border-bottom: 0px solid #ef233c;
  }
  #game-square-8 {
    border-bottom: 0px solid #ef233c;
    border-right: 0px solid #ef233c;
  }

  .game-square:hover {
    outline: 10px solid #ef233c;
  }