html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    font-family: 'Open Sans', sans-serif;
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body {
    background-color: #edf2f4;
  }

  #header-container {
    padding: 16px;
    display: grid;
    justify-items: center;
    color: white;
    background-color: #ef233c;
  }

  #header-logo {
    font-size: 4rem;
    font-weight: 700;
  }


  #game-board-container {
    margin: auto;
    padding: 16px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }

  .game-square {
    color: #474350;
    font-size: 4rem;
    font-weight: 900;
    display: grid;
    align-items: center;
    text-align: center;
    align-self: stretch;
    outline: 2px solid #ef233c;
  }

  #game-stats-container {
    margin: auto;
    text-align: center;
  }

  #game-status {
    text-align: center;
  }